R2_ACCESS_KEY_ID=<r2_access_key_id>
R2_SECRET_ACCESS_KEY=<r2_secret_access_key>
R2_ENDPOINT=<r2_endpoint>
R2_BUCKET_NAME=neura-agents-storage

PORT=3003
NODE_ENV=development

# Database Setup
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=neura-agents-platform